body {
  width: 1200px;
  margin: 0 auto; 
  
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: #333;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.clearfix::after {  
  content: "";
  display: table;
  clear: both;
}

p {
  font-size: 16px;
  line-height: 30px;
}

section  h2 {
  font-size: 35px;  
  color: black; 
}

section h3 {
  font-size: 20px;
}

section h2,
section h3 {
  margin: 0;  
  color: black;
  line-height: 1em;
  text-transform: uppercase;  
}

header {
  height: 480px;
  padding-top: 70px;
  margin-bottom: 95px;
  
  background: #978437 url("../img/header-bg2.jpg");
  background-size: cover;
  
}

header img {
  display: inline-block;
  float: left;  
  position: relative;
  top: -12px;
}

header .slogan {
  display: block;
  text-align: center;  
  
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.main-nav {
  float: right;
  margin: 0;
  margin-bottom: 120px;
  padding: 18px 0;
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);  
  list-style: none;  
}

.main-nav li {
  display: inline-block;  
}

.main-nav a {
  margin-left: 50px;
  color: white;
  
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;  
  font-weight: 600;
}

.main-nav li:first-child > a {
  margin-left: 0px;
}

.new {  
  margin-bottom: 110px;
}

.new .bottle-left,
.new .bottle-right {
  box-sizing: border-box;
  width: 400px;
  padding-left: 35px;
  
}

.new .bottle-left {
  float: left;  
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  
  background: url("../img/bottle-left.jpg") no-repeat 40px 0;
}

.new .bottle-right {
  float: right;  
  border-right: 1px solid #e5e5e5;
  
  background: url("../img/bottle-right.jpg") no-repeat 40px 0;
}

.new .bottle-description { 
  float: right;
  width: 175px;
  margin-top: 15px;
}

.new .bottle-table {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  border-collapse: collapse;  
  margin-bottom: 25px;
  
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}

.bottle-table td {
  height: 30px;
  vertical-align: top;  
}

.bottle-table tr:last-child {
  height: 35px;
}

.bottle-description p {
  margin: 0;
  font-size: 15px;
}

.new h2 {
  margin-bottom: 110px;
}

.new h3 {
  padding-top: 460px;
  font-size: 35px;
}

.bottle-left  > p,
.bottle-right > p {
  margin-top: 35px;
  margin-bottom: 55px;
  width: 300px;
  
  font-size: 15px;
  line-height: 2em;  
}

.new .btn {
  box-sizing: border-box;
  display: inline-block;
  
  height: 50px;
  padding: 0 22px;
  border: 2px solid #834700;
  
  font-size: 15px;
  line-height: 46px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.new .btn-ghost {  
  color: #834700;
  margin-right: 3px;
}

.new .btn-brown {
  color: white;
  background-color: #834700;  
}

.new b {
  display: inline-block;    
  width: 100px;
  
  text-align: center;
  font-size: 15px;
  line-height: 50px;
  color: black;
}

.features {
  padding-top: 80px;
  padding-bottom: 83px;
  margin-bottom:  90px;
  background-color: #ffcb78;  
}

.features-container {
  width: 1000px;
  margin: 0 auto;
}

.features ul{  
  margin: 0;
  padding: 0;
  list-style: none;
}

.features li {
  float: left;
    
  padding-top: 105px
}

.features-2,
.features-3{
  padding-left: 90px;
  border-left: 1px solid #e7b66a;
}

.features-1 {
  width: 304px;
  background: url("../img/feature-icon-1.png") no-repeat ;  
}

.features-2 {
  width: 304px;
  background: url("../img/feature-icon-2.png") no-repeat 90px 6px;
}

.features-3 {
  width: 210px;
  background: url("../img/feature-icon-3.png") no-repeat 90px 13px;
}

.features p {
  margin: 0;
  margin-top: 30px;
  width: 210px;
}

.history {
  margin-bottom: 90px;
}

.history h2 {
  margin-bottom: 95px;
}

.history .cite,
.history img{
  float: right;
}

.history img{
  margin-top: 10px;
}

.history .cite {
  font-size: 15px;
}

.history .cite a {  
  font-style: italic;
  color: #925b18;
}

.history h3,
.history p {
  float: left;
  width: 500px;
}

.history p, dl, dd {
  margin: 0;
}

.history dt {
  margin-bottom: 35px;
}

.history dd + dt {
  margin-top: 80px;
}

.press {
  
  padding-top: 90px;
  padding-bottom: 95px;
  margin-bottom: 95px;
  
  background-color: #ede5d8;
}

.press blockquote {
  position: relative;
  margin: 0; 
}

.press blockquote::before {
  position: absolute;
  content: "";
  
  left: -105px;
  top: 5px;
  
  width: 40px;
  height: 40px;
  
  background: url("../img/quotes.png") no-repeat;
}

.press h2 {
  margin-bottom: 85px;
}

.press p {
  margin-bottom: 40px;
}

.press a {
  float: left;
  padding: 15px 20px;
  
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  
  color: #a7a098;
  border: 2px solid #a7a098;
}

.press cite {
  float: right;
  padding-top: 15px;
  
  margin: 0;  
  color: black;
  font-size: 20px;
  line-height: 1em;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;  
}

.assortment {
  margin-bottom: 90px;
}

.assortment h2 {
  margin-bottom: 75px;
}

.assortment-table {
  width: 100%;
  border-collapse: collapse;
  
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: #757575;
}

.assortment-table tr {
  height: 70px;
}

.assortment-table th {    
  padding-top: 15px;
  color: #b6b6b6;
  font-weight: normal;
}

.assortment-table td,
.assortment-table th{
  text-align: center;
}


.assortment-table th:first-child,
.assortment-table td:first-child{    
  width: 400px;  
  text-align: left;  
}

.assortment-table td:first-child {
  color: black;
}

.assortment-table td:last-child,
.assortment-table th:last-child{
  width: 200px;
  text-align: right;
}   

.assortment-table span {  
  padding:  2px;  
  margin-left: 25px;    
  
  font-size: 8px;
  font-weight: normal;  
  color: white;
  background-color: black;
  border-radius: 2px;
}

.order {
  padding-top: 90px;
  padding-bottom: 115px;
  background-color: #ffcb78;
}

.order h2 {
   margin: 0;
  margin-bottom: 90px;
}

.order p { 
  margin-bottom: 75px;
}

.order-form * { 
  box-sizing: border-box;
  border: 0px;
  outline: 0px;
}

.order-form label,
.order-form input[name="phone"],
.order-form input[name="phone2"]{
  display: inline-block;
  vertical-align: baseline;
  width: 196px;  
}

.order-form label {
  color: black;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.order-form input[name="phone"],
.order-form input[name="phone2"] {
  background-color: #ebb66c;
  height: 50px;  
}

.order-form label[for="phone2-field"] {
  padding-left: 57px;
}

.order-form input::placeholder,
.order-form select,
.order-form textarea::placeholder{
  color: #b79055;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 20px;
}

.order-form textarea:-ms-input-placeholder,
.order-form input:-ms-input-placeholder,
.order-form select{
  color: #b79055;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 20px;
}

.order-form input[name="intro"],
.order-form input[name="email"],
.order-form select,
.order-form textarea {
  display: inline-block;
  vertical-align: middle;
  width: 596px;
  background-color: #e6b66c;
  height: 50px;
}

.order-form label[for="comment-field"]{
  vertical-align: top;
  padding-top: 15px;
}

.order-form textarea {
  height: 150px;
  padding-top: 15px;
  margin-bottom: 50px;
}

.order-form > div {
  margin-bottom: 13px; 
}

.order-form label[for="subscription-field"] {
  position: relative;
  display: block;
  width: 600px;
  
  margin-left: 200px;
  margin-bottom: 55px;
  padding-left: 60px;
  
  cursor: pointer;
}

.order-form input[type="checkbox"] {
  display: none;
}

.order-form .checkbox:hover {
  color: #663d15;
}

.checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -9px;
  left: 0;
  
  width: 36px;
  height: 36px;
  
  background-color: #e6b66c
}

 .checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 12px;
  
  width: 8px;
  height: 18px;
  
  border: 3px solid black;
  border-top: none;
  border-left: none;
  
  
}

.checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg)
}

.order-form input[type="submit"] {
  margin-left: 200px;
  
  box-sizing: border-box;
  display: inline-block;
  
  height: 50px;
  padding: 0 22px;
  border: 2px solid #834700;
  
  font-size: 15px;
  line-height: 46px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  
  color: white;
  background-color: #834700;
  
  cursor: pointer;
}

footer {
  padding-top: 90px;
  padding-bottom: 55px;
  background-color: black;
}

.footer-container {
  width: 1020px;
  margin: 0 auto;
}

.footer-left {
  float: left;
  width: 225px;
}

.footer-left img {
  position: relative;
  top: -32px;
  margin-bottom: 10px;
}

.footer-right{
  float: right;
  width: 710px;
}

.footer-nav {  
  margin: 0;
  margin-bottom: 75px;
  padding: 0;  
  list-style: none;    
}

.footer-nav li {
  display: inline-block;
  margin-right: 55px;
}

.footer-nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  
  color: white;
  text-decoration: none;
}

footer p {
  margin: 0;
}

.footer-down > p {
  float: left;
  width: 200px;
  padding-top: 13px;
  
  font-size: 13px;
  line-height: 20px;
  color: #969696;
}

.footer-copyright {
  float: right;  
  margin-right: 20px;
}

.footer-copyright b {
  color: #999;
  margin-left: 25px;
}

.footer-copyright span {
  color: #8d8d8d;
}

.footer-social a,
.footer-copyright a {
  display: inline-block;
  vertical-align: top;
  width: 70px;
  height: 70px;
  
  font-size: 0;
  background-color: #1b1b1b;
}

.footer-social a:hover,
.footer-copyright a:hover{
  background-color: #222;
}

.footer-copyright a {
  margin-top: -4px;
  background: #1b1b1b url("../img/academy.png") no-repeat center;
}

.footer-social-in {
  background: url("../img/instagram.png") no-repeat center;
}

.footer-social-fb {
  background: url("../img/facebook.png") no-repeat center;
}

.footer-social-vk {
  background: url("../img/vk.png") no-repeat center;
}




