body {
  width: 1200px;
  margin: 0 auto; 
  
  font-family: "Arial", sans-serif;
  font-size: 12px;
  color: gray;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.clearfix::after {  
  content: "";
  display: table;
  clear: both;
}

header {
  height: 480px;
  padding-top: 70px;
  margin-bottom: 95px;
  
  background: brown url("../img/header-bg2.jpg");
  background-size: cover;
  
}

header img {
  display: inline-block;
  float: left;  
  position: relative;
  top: -12px;
}

header .slogan {
  display: block;
  text-align: center;  
  
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.main-nav {
  float: right;
  margin: 0;
  margin-bottom: 120px;
  padding: 18px 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;  
  list-style: none;  
}

.main-nav li {
  display: inline-block;  
}

.main-nav a {
  margin-left: 50px;
  color: white;
  
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;  
  font-weight: 600;
}

.main-nav li:first-child > a {
  margin-left: 0px;
}

.new {  
  margin-bottom: 110px;
}

.new .bottle-left,
.new .bottle-right {
  width: 400px;
}

.new .bottle-left {
  float: left;  
  background: url("../img/bottle-left.jpg") no-repeat;
}

.new .bottle-right{
  float: right;  
  background: url("../img/bottle-right.jpg") no-repeat;
}

.new .bottle-desctiption,
.new .bottle-desctiption{ 
  width: 200px;
  float: right;
}

.new h2, h3 {
  margin: 0;
}

.new h3 {
  padding-top: 440px;
  margin: 0;
}

.features {
  padding-top: 80px;
  padding-bottom: 90px;
  margin-bottom:  90px;
  background-color: #ffcb78;  
}

.features-container {
  width: 1000px;
  margin: 0 auto;
}

.features ul{  
  padding: 0;
  list-style: none;
}

.features li {
  float: left;
  width: 210px;
}

.features li:nth-child(n+2) {
  padding-left: 90px;
  border-left: 1px solid #e7b66a;
}

.history {
  margin-bottom: 90px;
}

.history .cite,
.history img{
  float: right;
}

.history h3,
.history p {
  float: left;
  width: 500px;
}

.history p, dl, dd {
  margin: 0;
}

.press {
  padding-top: 90px;
  padding-bottom: 95px;
  margin-bottom: 95px;
  
  background-color: #ede5d8;
}

.press blockquote {
  margin: 0;
}

.press a {
  float: left;
}

.press cite {
  float: right;
}

.assortment {
  margin-bottom: 90px;
}

.assortment h2 {
  margin: 0;
  margin-bottom: 75px;
}

.assortment-table {
  width: 100%;
  border-collapse: collapse;
}

.assortment-table tr {
  height: 70px;
}

.assortment-table th {
  text-align: left;
  padding-top: 15px;
}

.order {
  padding-top: 90px;
  padding-bottom: 115px;
  background-color: #ffcb78;
}

.order h2 {
   margin: 0;
  margin-bottom: 90px;
}

.order p { 
  margin-bottom: 75px;
}

.order-form {
  
}

footer {
  padding: 55px 0;
}

.footer-container {
  width: 1020px;
  margin: 0 auto;
}

.footer-left {
  float: left;
  width: 225px;
}

.footer-right{
  float: right;
  width: 710px;
}

.footer-nav {
  background-color: black;
}

.footer-down > p {
  float: left;
  width: 200px;
}

.footer-copyright {
  float: right;  
  margin-right: 20px;
}





